body{
    background-color: #FFF8FF;
}
 a{
    border-radius: 5px;
    text-decoration: none;
    color: black;
 }
 img{
    max-width: 100%;
 }
.hide{
    display:none;
}
#header{
    display: flex;
    border-bottom: 1px solid #bcb4ab;
}
#header #title{

    width:400px;
    margin:10px;
}
#title a{
    text-align: center;
    display: block;
    width:fit-content;
    
    
}
#title #logo{
    width:100px;
}
nav div{
    margin:5px;
}
#nav-bar{
    display: flex;
    flex-wrap: nowrap;
    width:100%;
    margin: 5px 20px;
    align-items: center;
    
   
}
#nav-bar ul{
    display: flex;
    background-color: #670626;
    border-radius: 15px;
    padding: 0px;
    margin:0;
    overflow: hidden;
    
}
#user-create{
    display: flex;
    margin-left: auto;
    margin-bottom:15px;
}

#nav-bar ul li{
    list-style-type: none;
    margin: 0;
    
}
#nav-bar ul li a:hover{
    background-color: #900835;
}
#nav-bar ul li a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    font-size:1.05em;

}
#user-create a{
    border-radius: 5px;
    margin: 10px 5px 10px 5px;
    padding: 10px;
}

#user-create #signup{
    background-color: #cec6bc;
}
#user-create #signup:hover {
    background-color: #c1bab1;
}
#user-create #login{
    background-color: #bcb4ab;
}
#user-create #login:hover{
    background-color: #928c85;
}
.nav-button{
    margin:10px;
}
.search{
    margin-left: auto;
}

.explore-search{
    display: flex;
    width: 350px;
}
#search-box{
    width: 350px;
}