#submit{
    margin-left:400px;
}
#post-page{
    margin:10px;
}
#post-main{
    width:800px;
    border-radius: 2px;
}
#main{
    width: 600px;
   
    margin:25px;
    background-color: #FFF8FF;
    padding:10px;
    border-radius: 2px;
}
#post-page{
    display: flex;
}
#side-bar{
    margin-right:50px;
    width:450px;
    margin-left:100px;
}
#post-setting{
    width: 300px;
    background-color: #ffedff;
}
.post-base{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.post-base #post-title{
    width:300px;
    border:0px;
    border-bottom:1px solid black;
} 
#post-details{
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: scroll;
    width:400px;
    height: 100px;
    resize: none;
}


#book-mentioned img{
    width: 100px;
}

#search-carousel{
    display: flex;
    width:500px;
    overflow: scroll;
    overflow-x:scroll;
    overflow-y: hidden;
   
}
.card-cont{
    display: flex;
    flex-shrink: 0;
}
.caro-card{
    width:150px;
    max-width: 100%;
    padding: 5px;
    flex-shrink: 0;
}
.card-add-btn{
    margin-top: 50px;
    margin-left: 10px;
}

.card-content .add-btn{
    color:#EDD9BE;
   
    background: none;
    border: none;
}
.card-title{
    font-size:1em;
}
.card-details{
    font-size: 1em;
}