.books-carousel{
    display: flex;
    overflow: scroll;
    overflow-y: hidden;
    margin :10px;
}
.boards-carousel{
    display: flex;
    overflow: scroll;
    overflow-y: hidden;
}
/* 
.card{
    
    padding: 10px;
    margin: 10px;
}
.card:hover{
    transform: scale(1.05);
    
}
.card-board{
    
    padding: 10px;
    margin: 10px;
}
.card-board:hover{
    transform: scale(1.05);
    
} */
.caro-card{
    padding: 10px;
    margin: 10px;
}
.caro-card:hover{
    transform: scale(1.05);
}
.board-text{
    margin:5px;
}
/* .boards-carousel .card-board{
    background-color: #a1a1f7;
} */
.card-content-board{
    display: flex;
}
.card-content img{
    width: 100px;
}
.card-content-board img{
    width: 100px;
}
#main{
    display: flex;
    flex-direction: column;

}