#exp {
    display: flex;
    box-shadow: 2px 2px 1px 1px gray;
   

}

#filters {
    width: 300px;
     flex-shrink: 0;
    padding:20px;
}

#main-exp {
    margin: 10px;
    box-shadow: 1px 1px 2px 1px gray;
    flex-grow: 1;
    min-width: 0;
    border-radius: 10px;
    background-color: #FAFFFA;
   
}

#exp-pages {
    list-style: none;
    padding:0;
    margin:0;
    width:100%;
    
    
}
.exp-card{
    display: flex;
    margin: 10px;
    padding:5px;
    box-shadow: 0 2px 1px 0 gray;
   
    background-color: #e8f4e7;
    border-radius: 10px;
}
.exp-card:hover{
    transform:scale(1.02);
}


.exp-card img {
    width: 100px;
    box-shadow: 1px 1px 1px 1px gray;
    margin-right:10px;
}





.pagination {
    overflow-x: scroll;
    overflow-y: hidden;
    width:auto;
    border:1px solid gray;
    border-radius: 5px;
}

.pagination li {
    margin: 10px;
    padding: 5px 15px;
    background-color: #d1efbd;
    border-radius: 3px;


}

.pagination li:hover {
    background-color: #bcd7aa;
}

.pagination li a {
    text-decoration: none;
    color: white;
}