/* body{
    background-color: #89D385;
} */



#main-content #feature-box1 {
    display: flex;
    justify-content: center;
}

#main-content #feature-box1 div {
    background-color: #D1EFBD;
    margin: 10px;
    padding: 50px;

}

#main-content #feature-box1 div a {
    background-color: #bcb4ab;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
div.f1 {
    border-radius: 10px;
}
div.f2 {
    border-radius: 10px;
}

#feature-box1 .f1 {
    width: 500px;
}

#explore-box #explore-btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#blog-box #blog-btns {
    display: flex;
    flex-direction: column;
}

#feature-box2 {
    display: flex;
    flex-direction: column;
}

.books-carousel {
    display: flex;

    overflow-y: hidden;
    overflow-x: scroll;
    margin: 10px;



}

.boards-carousel {
    display: flex;
    overflow: scroll;
    overflow-y: hidden;
    flex-shrink: 0;
}

.caro-card {

    padding: 10px;
    margin: 10px;
    flex-shrink: 0;

}

.caro-card:hover {
    transform: scale(1.05);
}

.card {

    padding: 10px;
    margin: 10px;

}

.card:hover {
    transform: scale(1.05);

}

.card-board {

    padding: 10px;
    margin: 10px;

}

.card-board:hover {
    transform: scale(1.05);

}


.board-text {
    margin: 5px;
}

/* .boards-carousel .card-board{
    background-color: #a1a1f7;
} */
.card-content-board {
    display: flex;
}

.card-content img {
    width: 100px;
}

.card-title {
    max-width: 150px;
}

.card-content-board img {
    width: 100px;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}