.title2{
    font-size: 1.5em;
}
.title3{
    font-size: 1em;
}

.title2-exp{
    font-size: 1.75em;
}
.title3-exp{
    font-size: 1.5em;
}

.title3-italic{
    font-style: italic;
}

.list-styling2{
    font-weight: 400;
}