.book-grid-container{
    display: flex;
}
.book-cover{
flex-shrink: 0;
}
.book-cover img{
    width:275px;
    height:475px;
    
}
.book-content{
    display: flex;
    flex-direction: column;
    margin-left:200px;
    width: 550px;
}
.book-descr-box{
    
    width:600px;
    height:auto;
    display: flex;
    flex-direction: column;
    
}

.book-descr.line-clamp{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    width: 600px;
   height: auto;
    overflow: hidden;
    

   
}
.genre-list{
    display: flex;
}

.genre-list li{
    margin:0 5px 0 5px;
    list-style-type: none;

}