.main-book-view{
    margin-left:20px;
    margin-top:20px;
}
.book-grid-container{
    display: flex;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(91, 69, 27);
}
.book-cover{
flex-shrink: 0;
}
.book-cover img{
    width:275px;
    height:475px;
    
}
.book-content{
    display: flex;
    flex-direction: column;
    margin-left:200px;
    width: 550px;
}
.book-descr-box{
    
    width:600px;
    height:auto;
    display: flex;
    flex-direction: column;
    
}

.book-descr.line-clamp{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    width: 600px;
   height: auto;
    overflow: hidden;
    

   
}
.genre-list{
    display: flex;
}

.genre-list li{
    margin:0 5px 0 5px;
    list-style-type: none;

}

.hovered {
    color: gold;
}
.selected{
    color:gold;
}

#review-box2{
    display:flex;
}
#editor{
    background-color: aliceblue;
}




/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-left: auto;

  
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#update-review{
    margin:10px;
}
.ratingLevel .bi-star-fill{
    color: gold;
}
.modal-stars{
    display: flex;
    flex-direction: column;
}
.modal-stars-single{
    display: flex;
}
.modal-stars-single span{
    margin-left: 10px;
    
}
.modal-stars-single span:hover{
    margin-left: 10px;
    text-decoration: underline;
}

#star-rating{
    margin-left:10px;
    padding:10px;
}

.icon-btn i{
    pointer-events: none;
}
.reviews-container{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: 50px;
}
.star-user-container{
    display: flex;
}
.review-username{
    margin-left:auto;
}
.review-container{
    display: flex;
}