.env
composer.json
composer.lock
vendor/autoload.php
vendor/composer/autoload_classmap.php
vendor/composer/autoload_files.php
vendor/composer/autoload_namespaces.php
vendor/composer/autoload_psr4.php
vendor/composer/autoload_real.php
vendor/composer/autoload_static.php
vendor/composer/ClassLoader.php
vendor/composer/installed.json
vendor/composer/installed.php
vendor/composer/InstalledVersions.php
vendor/composer/platform_check.php
vendor/composer/LICENSE
php/db-config.inc.php
php/db-config.inc.php
example-template.html
php/google-api.env
php/google-api.inc.php
vendor/bin/phinx.bat
vendor/bin/phinx
importer/done/test_author_cleanup.php
importer/done/test_editions.php
importer/done/fix_author.php
importer/works_importer.php
importer/update_works.php
importer/quick_clean.php
importer/ol_dump_works_2026-08-31.txt.gz
importer/ol_dump_editions_2026-08-31.txt.gz
phinx.php
composer.json
composer.lock
db/migrations/20260924194010_initial_schema.php
importer/author_link.php
importer/authors.php
importer/clean.php
importer/config.php
importer/editions_importer.php
importer/import_authors.php
importer/ol_dump_authors_2026-08-31.txt.gz
importer/import.php
